/* MONTSERRAT FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out all;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.section {
  padding: 5rem 0;
}

.section-page {
  padding: 0 3rem;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: red;
}

@media (max-width: 991px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 52.5%;
  }
  .section-page {
    padding: 0 2rem;
  }
}
